---
http_interactions:
- request:
    method: get
    uri: https://weather.googleapis.com/v1/currentConditions:lookup?key=AIzaSyCzpoodrZZOAFbMq4-Lj2CgGeRxCZZvO0I&location.latitude=&location.longitude=-49.280580736137814
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "Invalid value at 'location.latitude' (TYPE_DOUBLE), \"\"",
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.BadRequest",
                "fieldViolations": [
                  {
                    "field": "location.latitude",
                    "description": "Invalid value at 'location.latitude' (TYPE_DOUBLE), \"\""
                  }
                ]
              }
            ]
          }
        }
  recorded_at: Tue, 11 Nov 2025 14:48:27 GMT
recorded_with: VCR 6.3.1
