---
http_interactions:
- request:
    method: get
    uri: https://weather.googleapis.com/v1/currentConditions:lookup?key=AIzaSyCzpoodrZZOAFbMq4-Lj2CgGeRxCZZvO0I&location.latitude=-25.452668606410313&location.longitude=-49.280580736137814
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "currentTime": "2025-11-11T14:48:26.353186130Z",
          "timeZone": {
            "id": "America/Sao_Paulo"
          },
          "isDaytime": true,
          "weatherCondition": {
            "iconBaseUri": "https://maps.gstatic.com/weather/v1/mostly_cloudy",
            "description": {
              "text": "Mostly cloudy",
              "languageCode": "en"
            },
            "type": "MOSTLY_CLOUDY"
          },
          "temperature": {
            "degrees": 21.3,
            "unit": "CELSIUS"
          },
          "feelsLikeTemperature": {
            "degrees": 23.8,
            "unit": "CELSIUS"
          },
          "dewPoint": {
            "degrees": 6.5,
            "unit": "CELSIUS"
          },
          "heatIndex": {
            "degrees": 23.8,
            "unit": "CELSIUS"
          },
          "windChill": {
            "degrees": 21.3,
            "unit": "CELSIUS"
          },
          "relativeHumidity": 38,
          "uvIndex": 5,
          "precipitation": {
            "probability": {
              "percent": 9,
              "type": "RAIN"
            },
            "snowQpf": {
              "quantity": 0,
              "unit": "MILLIMETERS"
            },
            "qpf": {
              "quantity": 0,
              "unit": "MILLIMETERS"
            }
          },
          "thunderstormProbability": 0,
          "airPressure": {
            "meanSeaLevelMillibars": 1019.94
          },
          "wind": {
            "direction": {
              "degrees": 90,
              "cardinal": "EAST"
            },
            "speed": {
              "value": 10,
              "unit": "KILOMETERS_PER_HOUR"
            },
            "gust": {
              "value": 18,
              "unit": "KILOMETERS_PER_HOUR"
            }
          },
          "visibility": {
            "distance": 16,
            "unit": "KILOMETERS"
          },
          "cloudCover": 84,
          "currentConditionsHistory": {
            "temperatureChange": {
              "degrees": 3.4,
              "unit": "CELSIUS"
            },
            "maxTemperature": {
              "degrees": 21.3,
              "unit": "CELSIUS"
            },
            "minTemperature": {
              "degrees": 9.4,
              "unit": "CELSIUS"
            },
            "snowQpf": {
              "quantity": 0,
              "unit": "MILLIMETERS"
            },
            "qpf": {
              "quantity": 0,
              "unit": "MILLIMETERS"
            }
          }
        }
  recorded_at: Tue, 11 Nov 2025 14:48:26 GMT
recorded_with: VCR 6.3.1
